/* *{
    background-image: url('pexels-alyona-yambakova-77758441-8664193.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
} */
 main{
    text-align: center;
    position: absolute;
 }
 table{
    border: 1px solid black;
    text-align: center;
 }
 td{
    border: 2px solid black;
 }